/JavaHW/nbproject/private/
/evalpi/nbproject/private/
/EvalExpr/nbproject/private/
/EvalExpr/build/
/EvalPiOOP/nbproject/private/
/EvalPiOOP/build/
/evalpi/build/
/evalpi/dist/
/Rectangles/nbproject/private/
/Rectangles/build/
/EvalPi/nbproject/private/
/EvalPi/build/