/JavaHW/nbproject/private/
/evalpi/nbproject/private/
/EvalExpr/nbproject/private/
/EvalExpr/build/
/EvalPiOOP/nbproject/private/
/EvalPiOOP/build/
/evalpi/build/
/evalpi/dist/
/Rectangles/nbproject/private/
/Rectangles/build/
/EvalPi/nbproject/private/
/EvalPi/build/
/Rectangels/nbproject/private/
/Rectangels/build/
/JavaApplication15/nbproject/private/
/Expr/nbproject/private/
/Expr/build/
/Expr/dist/
/Transletor/nbproject/private/
/Transletor/build/
/ArraySet/nbproject/private/
/ArraySet/build/
/Translator/nbproject/private/
/JavaFXHW/nbproject/private/
/JavaFXHW/build/
/JavaFXHW/dist/
/Semaphor/nbproject/private/
/Semaphor/build/
/Semaphor/dist/